<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <h1><a routerLink="/" class="home-link">E-Commerce</a></h1>
  <div class="nav-search" *ngIf="menuType === 'default'">
    <input
      type="text"
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
      placeholder="Search for Product"
      name=""
      id=""
      #SearchInput
    />
    <button (click)="SearchSubmit(SearchInput.value)">Search</button>
    <ul class="suggest-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">Home</a></li>
      <li><a href="seller-auth">Seller</a></li>
      <li><a href="">Login</a></li>
      <li><a href="">Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a href="seller-auth">Product List</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li>
        <a>{{ sellerName }}</a>
      </li>
    </ul>
  </div>
</nav>
