<div class="cart-page">
  <h1>Cart Page</h1>
  <div class="row">
    <div class="col-sm-8 details">
      <ul>
        <li>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1m4N26x0LlhXXsIiLJvseC4gf8c81xDjOHQ6aQwoCMlfCF_RVg3u7alSP3yEQjoT91xg&usqp=CAU"
            alt="Product image"
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Product Price : 100 </span></li>
        <li><span>Quantity</span></li>
        <li><button>Remove to cart</button></li>
      </ul>

      <ul>
        <li>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1m4N26x0LlhXXsIiLJvseC4gf8c81xDjOHQ6aQwoCMlfCF_RVg3u7alSP3yEQjoT91xg&usqp=CAU"
            alt="Product image"
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Product Price : 100 </span></li>
        <li><span>Quantity</span></li>
        <li><button>Remove to cart</button></li>
      </ul>

      <ul>
        <li>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1m4N26x0LlhXXsIiLJvseC4gf8c81xDjOHQ6aQwoCMlfCF_RVg3u7alSP3yEQjoT91xg&usqp=CAU"
            alt="Product image"
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Product Price : 100 </span></li>
        <li><span>Quantity</span></li>
        <li><button>Remove to cart</button></li>
      </ul>

      <ul>
        <li>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1m4N26x0LlhXXsIiLJvseC4gf8c81xDjOHQ6aQwoCMlfCF_RVg3u7alSP3yEQjoT91xg&usqp=CAU"
            alt="Product image"
          />
        </li>
        <li><span>Product Name</span></li>
        <li><span>Product Price : 100 </span></li>
        <li><span>Quantity</span></li>
        <li><button>Remove to cart</button></li>
      </ul>
    </div>
    <div class="col-sm-4 summary">
      <h1>Summary</h1>
      <ul>
        <li><span>Amount</span><span>300</span></li>
        <li><span>Tax</span><span>300</span></li>
        <li><span>Delivery</span><span>300</span></li>
        <li><span>Discount </span><span>300</span></li>
        <li style="border-top: 1px solid #ddd">
          <span><h4>Total</h4></span><span><h4>3000</h4></span>
        </li>
      </ul>
    </div>
  </div>
</div>
