table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table th, table td{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}
.product-list img{
    height: 100px;
    width: 100px;
}
.product-list h1{
    color: blueviolet;
    text-align: center;
}
.product-list a{
    margin-left: 10px;
}