<div class="seller-auth">
  <div *ngIf="!isLoggedIn" class="sign-up">
    <h1>Seller SignUp</h1>
    <form
      class="common-form"
      #SellerSignUp="ngForm"
      (ngSubmit)="Signup(SellerSignUp.value)"
    >
      <label>Enter Your Name</label>
      <input
        type="text"
        class="form-input"
        placeholder="Enter your Name"
        name="name"
        ngModel
        required
        #name="ngModel"
      />
      <span class="invalid-input" *ngIf="name.touched && name.invalid"
        >Enter Valid Name</span
      >

      <label>Enter Your Email ID</label>
      <input
        type="email"
        class="form-input"
        placeholder="Enter your Email"
        name="email"
        ngModel
        required
        #email="ngModel"
        email
      />
      <span class="invalid-input" *ngIf="email.touched && email.invalid"
        >Enter Valid Email ID</span
      >

      <label>Enter Your Password</label>
      <input
        type="password"
        class="form-input"
        placeholder="Enter your Password"
        name="password"
        ngModel
        required
        #password="ngModel"
        minlength="5"
        maxlength="12"
      />
      <span class="invalid-input" *ngIf="password.touched && password.invalid"
        >Enter Valid Password
      </span>

      <a class="toggle-login" (click)="loadLogin()"
        >Already have Account! Click here to login
      </a>
      <button class="form-button" [disabled]="SellerSignUp.invalid">
        SignUp
      </button>
    </form>
  </div>
  <!-- Seller-Login area -->
  <div *ngIf="isLoggedIn" class="login">
    <h1>Seller Login</h1>
    <form
      class="common-form"
      #sellerLogin="ngForm"
      (ngSubmit)="SellerLogin(sellerLogin.value)"
    >
      <label>Enter Your Email ID</label>
      <input
        type="email"
        class="form-input"
        placeholder="Enter your Email"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />
      <span class="invalid-input" *ngIf="email.touched && email.invalid"
        >Enter Valid Email ID</span
      >

      <label>Enter Your Password</label>
      <input
        type="password"
        class="form-input"
        placeholder="Enter your Password"
        name="password"
        ngModel
        required
        #password="ngModel"
        minlength="5"
        maxlength="12"
      />
      <span class="invalid-input" *ngIf="password.touched && password.invalid"
        >Enter Valid Password
      </span>

      <a class="toggle-login" (click)="loadLogin()"
        >Don't have Account? Click here to SignUp</a
      >
      <button class="form-button">Login</button>
    </form>
  </div>
</div>
