<div class="user-auth">
  <div class="sign-up" *ngIf="!isLoggedIn">
    <h1>User SignUp</h1>
    <form
      class="common-form"
      #UserSignUp="ngForm"
      (ngSubmit)="Signup(UserSignUp.value)"
    >
      <label>Enter Name</label>
      <input
        type="text"
        class="form-input"
        placeholder="Enter your Name"
        name="name"
        ngModel
      />
      <label>Enter Email</label>
      <input
        type="email"
        class="form-input"
        placeholder="Enter your Email"
        name="email"
        ngModel
      />
      <label>Enter Password</label>
      <input
        type="password"
        class="form-input"
        placeholder="Enter your Password"
        name="password"
        ngModel
      />
      <a class="toggle-login" (click)="loadLogin()"
        >Already have Account! Click here to login
      </a>
      <button class="form-button">SignUp</button>
    </form>
  </div>
  <!-- User-Login area -->
  <div class="login" *ngIf="isLoggedIn">
    <h1>User Login</h1>
    <form
      class="common-form"
      #UserLogin="ngForm"
      (ngSubmit)="LoginUser(UserLogin.value)"
    >
      <label>Enter Email</label>
      <input
        type="email"
        class="form-input"
        placeholder="Enter your Email"
        name="email"
        ngModel
      />
      <label>Enter Password</label>
      <input
        type="password"
        class="form-input"
        placeholder="Enter your Password"
        name="password"
        ngModel
      />
      <a class="toggle-login" (click)="loadLogin()"
        >Don't have Account? Click here to SignUp</a
      >
      <button class="form-button">Login</button>
    </form>
  </div>
</div>
