/* You can add global styles to this file, and also import other style files */
.container {
    margin: 0% 5%;
}

.common-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    color: blueviolet;
    margin: auto;
}

.common-form label {
    margin: 2px;
    padding: 0px;
    width: 100%;
    text-align: left;
}

.form-input {
    height: 35px;
    width: 100%;
    border: 1px solid blueviolet;
    padding-left: 10px;
    margin-bottom: 5px;
    color: blueviolet;
}

.form-button {
    width: 100%;
    color: blueviolet;
    border: 1px solid blueviolet;
    background-color: #8a2be24f;
    font-size: large;
    font-weight: bold;
    height: 36px;
    cursor: pointer;
}

.p-message{
    color: green;
    text-align: center;
}

.p-error{
    color:red;
}

.carousel-caption{
    background-color: #00000082;
    border-radius: 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border-radius: 5px;
}
.invalid-input{
    color: red;
    width: 100%;
}
button:disabled{
    cursor: not-allowed;
}